html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 1rem;
  display: grid;
}

div {
  width: 960px;
  padding: 0.5rem 0;
  line-height: 1.5rem;
  margin: auto;
  text-align: justify;
  align-self: center;
}

pre {
  width: 960px;
  background-color: #263238;
  padding: 1rem;
  color: white;
  font-family: monospace, sans-serif;
  align-self: center;
}

p>code {
  background-color: #90A4AE;
  padding: 0.1rem 0.4rem;
  color: #263238;
  font-family: monospace, sans-serif;
  border: 1px solid #263238;
  border-radius: 2px;
}

i {
  font-style: italic;
}

strong {
  font-style: bold;
  font-weight: 700;
}

ul {
  padding: 0.5rem;
}

ul>li {
  padding: 0.2rem 0.5rem;
  list-style-position: inside;
  list-style-type: disc;
}
